@font-face {

  font-family: 'Mali-Bold';
  src: url('/fonts/Mali-Bold.ttf');

}

@font-face {

font-family: 'Mali-Medium';
src: url('/fonts/Mali-Medium.ttf');

}

@font-face {

font-family: 'Mali-Regular';
src: url('/fonts/Mali-Regular.ttf');

}


.ml-bold{

font-family: 'Mali-Bold';

}

.ml-regular{

  font-family: 'Mali-Regular';
  
}

.ml-medium{

  font-family: 'Mali-Medium';
  
} 

